.custom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-item {
  position: static;
}
.megabox {
  position: fixed;
  width: 100vw;
  top: 50px;
  left: 0;
  right: 0;
  background-color: #fdfdfd;
  z-index: 20;
  border-top: 1px solid gray;
  margin-top: 5px;
  padding: 20px 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition:
    opacity 0.4s ease,
    visibility 0.4s ease,
    transform 0.4s ease;
}

.nav-item:hover .megabox {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
/* Category card link */
.allCategories {
  width: auto;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 50px;
  padding: 5px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  text-decoration: none;
  margin-bottom: 15px;
  transition: all 0.5s ease;
  background-color: #fff;
}

/* Image */
.allCategories .cate-img {
  width: 40px;
  height: 40px;
  border: 2px solid white;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

/* Text */
.allCategories .cate-text {
  color: #333;
  font-size: 14px;
  margin: 0;
}

/* Product count */
.allCategories .productlength {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: brown;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  flex-shrink: 0;
  transition: all 0.3s ease;
}

/* Hover effect */
.allCategories:hover {
  background-color: rgb(204, 9, 6);
  border-color: rgb(204, 9, 6);
}

.allCategories:hover .cate-text,
.allCategories:hover .productlength {
  color: white;
}

.allCategories:hover .productlength {
  background-color: #ffffff;
  color: rgb(204, 9, 6);
}

.custom-btn {
  display: inline-block;
  padding: 5px 15px;
  background-color: #d73609; 
  color: #fff;
  border: none;
  border-radius: 7px;
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
  text-decoration: none;
}

.custom-btn:hover {
  background-color: #a30705;
  color: #fff;
  box-shadow: 0 4px 10px rgba(204, 9, 6, 0.3);
  transform: translateY(-2px);
}

.featured-content ul {
  padding-left: 20px;
  margin: 0;
  list-style-type: none;
}

.featured-content a {
  text-decoration: none;
  color: #333;
}

.featured-content a:hover {
  color: brown;
}

.featured-item {
  background-color: gray;
  text-decoration: none;
  color: #333;
  transition: transform 0.3s ease;
}

.featured-item:hover {
  transform: translateY(-5px);
  color: brown;
}

.sub-img {
  object-fit: cover;
  width: 103px;
  height: 135px;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

.sub-name {
  font-size: 14px;
  font-weight: 500;
  color: #444;
}

.icon-link {
  color: #333;
  transition: all 0.3s ease;
  border: 0;
  background: transparent;
}

.icon-link:hover {
  color: #d62828;
}

.custom-coupon-card {
 
  border: 1px solid red;
  border-radius: 7px;
  row-gap: 20;
}
.custom-coupon-card h6 {
  color: #d62828;
}

.custom-coupon-card2 {
  
  border: 1px solid #5fc524;
  border-radius: 7px;
  row-gap: 20;
}
.custom-coupon-card2 h6 {
  color: #419c0c;
}
.custom-coupon-card2 a {
  background-color: #5fc524;
}

.custom-coupon-card2 a:hover {
  background-color: #4c9c1d;
}
.modal-dialog {
  width: 100vw;
  max-width: 100%;
}
.modal-content {
  border-radius: 0;
}
.modal-body {
  display: flex;
  justify-content: center;
}

.modal-body input.form-control {
  width: 550px;
  max-width: 100%;
  margin: 0 auto;
}

.modal-body input.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}
.modal-header .btn-close {
  margin-left: inherit;
  background-color: #cccccc;
  border-radius: 50%;
}
.modal-header {
  justify-content: center;
}
